.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .about-info {
        width: 40%;
        padding: 0 30px;
        h1 {
            text-align: center;
            font-size: 54px;
            margin-bottom: 30px;
        }
        p {
            font-size: 20px;
            line-height: 1.5;
        }
    }
    .about-slider {
        width: 60%;
    }
}