/* LoadingSpinner.css */
.loading-spinner {
  position: relative;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 90px;
  height: 90px;
  top: 45%;
  left: 47%;
  /* transform: translate(-50%, -50%); */
  border-radius: 50%;
  border-left-color: #007bff;
  animation: spin 1s ease infinite;
  z-index: 9999;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
