/* Navbar.css */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: #333; */
  background-color: #d77a5d;
  padding: 10px 0;
  transition: padding 0.3s, background-color 0.3s;
  z-index: 1000;
}

.navbar-scroll {
  padding: 5px 0;
  background-color: #ff9f91;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar-logo {
  color: #fff;
  font-size: 24px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  color: #fff;
  margin-left: 30px;
  cursor: pointer;
}

.logo-container {
  transition: transform 0.3s;
}

.logo-container-scroll {
  transform: scale(0.75);
}
